.todo
{
    position: relative;
    background-color: var(--dark);
    padding: 16px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 0.5s ;
    cursor: pointer;
    margin-bottom: 16px;
}


.todo:hover {
	opacity: 0.8;
}

.todo .text {
	font-size: 20px;
}

.todo.complete .text {
	text-decoration: line-through;
}

.todo .deletetodo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #AF1E2D;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 16px;
}

.add-todo-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: #FFF;
	padding: 16px;
	border-radius: 16px;
	width: 100%;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

.button {
	padding: 16px 32px;
	border-radius: 999px;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
}